<div class="login">
  <%= form_for :login, html: { class: "login-form" } do |f| %>
    <p>
    <%= f.label "Email:" %>
    <%= f.text_field :email %>
    <p>
    <%= f.label "Password:" %>
    <%= f.password_field :password %>
    <%= f.submit "Log in" %>

  <% end %>
  <div class="notifications">
    <% if error.blank? %>
      <p>Don't have an account? Sign up <%= link_to "here", new_user_path %></p>
    <% else %>
    	<p><%= "#{error}" %></p>
    <% end %>
  </div>
</div>
