<h1>Login</h1>

<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>
<p>Don't have an account? Sign up <%= link_to "here", new_user_path %><p>
<% if !error.blank? %>
	<%= "#{error}" %>
<% end %>