<div class="user">
	<%= form_with model: @user, html: {class: "user-form"}, local: true do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email %>
		<p>
		<%= f.label :display_name %>
		<%= f.text_field :display_name%>
		<p>
		<%= f.label :password %>
		<%= f.password_field :password%>
		<p>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation%>
		<p>
	  <%= f.submit %>
	<% end %>
	<div>
		<% if flash.alert %>
			<p> <%= "#{flash.alert}" %></p>
		<% end %>
	</div>
</div>
