<!DOCTYPE html>
<html>
  <head>
    <title>GameWizard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless ["sessions"].include? params["controller"] %>
      <% if current_user %>
        Signed in as <%= link_to "#{name_to_display}", user_path(current_user) %> | <%= link_to "Logout", '/logout' %>
      <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', new_user_path %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
